# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Instructions

Testing to see if the print statement for the instructions work

### Test Data Used

By running the code it should print out all the instructions I have written in a neat format

### Test Result

The result should be a print statement of all the instructions.

![instructionsetup.gif](screenshots/instructionsetup.gif)

Result: Pass

---

## Player turns 

Testing to see if players can take turns and make moves

### Test Data Used

By running the code it will show what I have expected

### Test Result

The result should show the players taking turns

![turns moves.gif](screenshots/turns moves.gif)

Result: Pass 

---

## Scoring system

a test to see if the score system works

### Test Data Used

by running the code it will test it 

### Test Result

The result should be a gif on how the score system works

![scoresystem.gif](screenshots/scoresystem.gif)

Result: Pass


---

## The winning quote

testing to see if it states who wins

### Test Data Used

by running the code it will test it 

### Test Result

This should Print a statement on who wins

![winners.gif](screenshots/winners.gif)

Result: Pass


---

## Final feedback

testing if it displays the final feedback

### Test Data Used

by running the code it will test it 

### Test Result

This should display the final feedback

![finalfeedback.gif](screenshots/finalfeedback.gif)

Result: Pass

---
